<!--
Author: Andry Bintoro, Lawrence Thompson 
Last Updated: April 2018
Path: /app/about/about.component.html 
The contact component template contains html and angular 2 template syntax for displaying
about us page.
-->
<!DOCTYPE html>
<h1><img src="../../assets/flash.png" alt="flash_image" style="width:30%;height:30%;"></h1>

<p>FlashCourses is an improved and rebranded version of uStudy. It provides students from the University of New Hampshire with cloud-based, student-developed, course-specific, enhanced study materials in order to provide the most interactive educational environment possible.</p> 

<p>Students will be able to search for courses and view study material, such as flashcards, quizzes, and notes, developed by students previously or currently enrolled in the course.</p>  

<p>Our web portal is visually appealing, user friendly, mobile friendly, and secure. A mobile application will offer critical functionality only, such as searching courses and viewing study material, with plans to upgrade to full functionality at a later date.</p>   

<p>FlashCourses will not integrate with existing UNH Manchester infrastructure. All infrastructure will remain completely independent of UNHM IT Department. There are currently no plans to integrate into existing UNHM infrastructure, but it is a possibility at a future date.</p>
