<!-- 
  courses.component.html
  Location: /FlashCourses_web/FlashCourse-web/src/app/courses/
  Primary Contributor: Lawrence Thompson
  Last Updated: April 30th, 2018
  Description: The HTML for Courses.
  Completion Status: Unused, will be used in data service. For more information
    about suggested changes and improvements, refer to Web-App architecture -
    Next Steps.
 -->

<div class='container-fluid'>
	<h1>Courses</h1>

<!-- 
	Search Courses:
  	<input type="search" id="Courses_search">
  	<input id="btn_Courses_search" type="button" value="submit" />
	 -->


<div>
	<div *ngFor="let course of  _courseArray" class='container-fluid' id="courses_data_holder">
		<h4 id="cour_title" class="text-center"> {{ course.course_title }} </h4>
		<br>
		<p id="cour_desc" class="text-center"> {{ course.course_description }} </p>
		
	</div>
</div>